@{
    ViewData["Title"] = "Admin Frames In";
}

<div class="d-flex justify-content-between mt-4">
    <h2>Admin Frames In</h2>
    <div>
        <button type="button" class="btn btn-primary">Add Old</button>
        <button type="button" class="btn btn-primary">Add Today</button>
    </div>
</div>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Admin Frames In</li>
</ol>

<div class="card">
    <div class="card-header">
        <div class="row row-cols-2">
            <div class="col">
                <select id="selected-month" class="form-select">
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
            </div>
            <div class="col">
                <select id="selected-year" class="form-select">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="dataTable" class="display text-center">
            <thead>
                <tr>
                    <th style="width: 100px"></th>
                    <th>Date</th>
                    <th>Number Of Frames</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*Modals*@
<div class="modal fade" id="addToday"></div>

@section Scripts {
<script>
    const _$table = $("#dataTable"),
      _$selectedMonth = $("#selected-month"),
      _$selectedYear = $("#selected-year")

    _$selectedMonth.val(new Date().getMonth() + 1);
    _$selectedYear.val(new Date().getFullYear());

    let _$dataUrl = `/AdminBilling/GetData?month=${_$selectedMonth.val()}&year=${_$selectedYear.val()}`;

    function format(d) {
      let returnTable = `<table class="table table-bordered">
          <thead>
            <tr>
              <th>Time</th>
              <th>Frames</th>
              <th style="width: 200px">Action</th>
            </tr>
          </thead>
          <tbody>`;

      for (let i = 0; i < d.timeAndNo.length; i++) {
        returnTable += "<tr>";
        returnTable += `<td>${d.timeAndNo[i].time}</td>`;
        returnTable += `<td>${d.timeAndNo[i].noOfFrames}</td>`;
        returnTable += `<td>
            <button type="button" class="btn btn-sm btn-secondary edit-record"><i class="fas fa-pencil-alt"></i> Edit</button>
            <button type="button" class="btn btn-sm btn-danger delete-record"><i class="fas fa-trash"></i> Delete</button>
          </td>`;
        returnTable += "</tr>";
      }

      returnTable += "</tbody></table>";

      return returnTable;
    }

    let _$datatable = _$table.DataTable({
      processing: true,
      serverSide: true,
      filter: false,
      orderMulti: false,
      paging: false,
      ajax: {
        url: _$dataUrl,
        type: "post",
        dataType: "json",
      },
      columns: [
        {
          className: "dt-control",
          orderable: false,
          data: null,
          defaultContent: "",
        },
        {
          data: "date",
          name: "Date",
          autoWidth: true,
          defaultContent: "",
          orderable: false,
          sortable: false,
        },
        {
          data: "total",
          name: "Total",
          autoWidth: true,
          defaultContent: "",
          orderable: false,
          sortable: false,
        },
      ],
      order: [[1, "asc"]],
    });

    _$selectedMonth.change(function () {
      _$dataUrl = '/AdminBilling/GetData?month=' + _$selectedMonth.val() + 'year=' + _$selectedYear.val();
      debugger;
      _$datatable.ajax.url(_$dataUrl).load();
      _$datatable.ajax.reload();
      alert(_$selectedMonth.val());
    });

    $("#dataTable tbody").on("click", "td.dt-control", function () {
      var tr = $(this).closest("tr");
      var row = _$datatable.row(tr);

      if (row.child.isShown()) {
        row.child.hide();
        tr.removeClass("shown");
      } else {
        row.child(format(row.data())).show();
        tr.addClass("shown");
      }
    });
</script>
}
