@{
    ViewData["Title"] = "Admin Frames In";
}

<div class="d-flex justify-content-between mt-4">
    <h2>Admin Frames In</h2>
    <button type="button" id="openCreateWorkerModal" class="btn btn-primary">
        Add
    </button>
</div>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Admin Frames In</li>
</ol>

<div class="card">
    <div class="card-body">

    </div>
</div>