@{
    ViewData["Title"] = "Workers List";
}

<div class="d-flex justify-content-between mt-4">
    <h2>Workers</h2>
    <button type="button" id="openCreateWorkerModal" class="btn btn-primary">
        Add New Worker
    </button>
</div>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Workers</li>
</ol>

<div class="card">
    <div class="card-body">
        <table id="datatable" style="width: 100%">
            <thead>
                <tr>
                    <th style="width: 150px">Customer ID</th>
                    <th>Name</th>
                    <th style="width: 150px">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*Add New Worker Modal*@
<div class="modal fade" id="addNewWorkerModal" tabindex="-1" aria-labelledby="addNewWorkerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewWorkerModal">Add New Worker</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="row needs-validation">
                    <div class="col-12">
                        <input type="hidden" id="newWorkerId" />
                        <div class="has-validation">
                            <label for="newWorkerNameInput" class="form-label">Worker Name</label>
                            <input type="text" class="form-control" name="newWorkerNameInput" id="newWorkerNameInput"
                                   required />
                            <div class="invalid-feedback" id="newWorkerNameInvalidFeedback"></div>
                        </div>

                        <div class="d-flex justify-content-between mt-3">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary save-button">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script src="~/viewResource/Workers/Index.js"></script>
}